.scrollContainer {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}
/* width */
.scrollContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(185, 181, 181);
  border-radius: 5px;
}

/* Handle */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #04366e;
  border-radius: 5px;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #04366e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.project {
  width: 20%;
  background: #fefefe;
  margin: 2.5%;
  height: 293px;
  border-radius: 70px;
  background-size: 285% 215%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  box-shadow: 0 10px 15px 0px rgb(107, 129, 158);
  filter: blur(0.007em);
  font-weight: 700;
  letter-spacing: 1.3px;
  text-shadow: 0 0 0.5em #faf7f7;
  text-align: center;
  position: relative;
}
.deleteProject {
  z-index: 1000;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  display: none;
}
.deleteProject button {
  cursor: pointer;
  font-size: 20px;
  filter: blur(0.007em);
  font-weight: 700;
  letter-spacing: 1.3px;
  text-shadow: 0 0 0.5em #faf7f7;
  color: #fff;
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(46, 46, 46, 0.534);
  box-shadow: 0 0 0.8em #f8f7f7;
}
.deleteProject button:hover {
  transform: scale(1.1);
}
.project:hover .deleteProject {
  display: block;
}
@media only screen and (max-width: 1500px) {
  .project {
    width: 28%;
  }
}
.project:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px 0px rgb(107, 129, 158);
  text-shadow: 0 0 0.6em #faf7f7;
}
.project:nth-child(8n + 1) {
  background-image: url("../../../images/1.png");
}
.project:nth-child(8n + 2) {
  background-image: url("../../../images/2.png");
}
.project:nth-child(8n + 3) {
  background-image: url("../../../images/3.png");
}
.project:nth-child(8n + 4) {
  background-image: url("../../../images/4.png");
}
.project:nth-child(8n + 5) {
  background-image: url("../../../images/5.png");
}
.project:nth-child(8n + 6) {
  background-image: url("../../../images/6.png");
}
.project:nth-child(8n + 7) {
  background-image: url("../../../images/7.png");
}
.project:nth-child(8n) {
  background-image: url("../../../images/8.png");
}
.projectInitial {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 150px;
  font-size: 60px;
  font-weight: bold;
  color: #fefefe;
  margin: 20px auto;
}
.projectTitle {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 70px;
  background: rgba(4, 54, 110, 0.5);
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 35px;
  flex-wrap: wrap;
}
.addProject {
  font-size: 80px;
  flex-wrap: wrap;
}

.addProject div {
  /* min-width: 25%; */
  justify-content: center;
  cursor: pointer;
}
.addProject form {
  width: 80%;
  margin: 60px auto 0;
  flex-wrap: wrap;
}
.addProject form input {
  border: none;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  background: rgba(39, 39, 39, 0.562);
  box-shadow: 0 0 0.8em #f8f7f78c;
  border-radius: 10px;
  color: white;
}
.addProject form button {
  background: rgba(255, 255, 255, 0.74);
  color: #04366e;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 0.5em #f8f7f78c;
}
.dNone {
  display: none;
}
.dFlex {
  display: flex;
}
.addProject .cancel {
  padding: 2px 8px;
  display: flex;
  font-size: 20px;
  position: absolute;
  right: 24px;
  top: 104px;
  border-radius: 50%;
  background: rgba(46, 46, 46, 0.534);
  box-shadow: 0 0 0.6em #f8f7f7;
}
.singleContainer {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}
.singleContent {
  box-shadow: 0px 0px 15px 5px #eceaea;
  border-radius: 5px;
  margin: 40px auto;
  width: Calc(100% - 80px);
}
