.pagination {
  list-style-type: none;
  text-align: center;
  margin: 20px;
}
.list_item {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #838588ac;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  user-select: none;
}

.list_item:hover {
  background: #ccc;
}

.page_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.active {
  background: #04366e;
  transition: 0.5s;
  color: white;
}

.active:hover {
  color: #000000;
}
