.container {
  margin: 30px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}
.container th {
  font-size: 18px;
  text-align: left;
  padding: 20px 18px;
  white-space: pre;
  color: #ffffff;
  cursor: pointer;
  transition: 0.6s;
}
.container th:first-child {
  border-radius: 10px 0 0 0;
}
.container th:last-child {
  border-radius: 0 10px 0 0;
}
.container table {
  min-width: 450px;
  position: relative;
  box-shadow: 0px 2px 15px 5px #eceaea;
  border-spacing: 0;
  color: #656565;
  border-radius: 10px 10px 0 0;
}
.container thead {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
.container tr {
  background: #ffffff;
  border: none;
}
.container tr:nth-child(even) {
  background: #4993b62c;
  border: none;
}
.container tr:hover {
  box-shadow: 0px 0px 10px 1px #5858582f;
}
.container tr.headerRow {
  background: #3694bfcc;
}
.container td {
  font-size: 14px;
  padding: 10px 20px 10px 15px;
  display: relative;
}
.container .tableButtons {
  position: absolute;
  margin: -40px 0;
  right: -32px;
}
.container button.editUser,
.container button.deleteUser {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffffa8;
  margin: 0 -1px;
  box-shadow: 0px 2px 15px 5px #2b2b2b70;
  display: none;
}
.container button.editUser:hover,
.container button.deleteUser:hover {
  transform: scale(1.1);
}
img.icon {
  width: 16px;
}
.container tr:hover button.editUser,
.container tr:hover button.deleteUser {
  display: initial;
}

.error {
  border: 1px solid red;
}

.addUserModalContainer {
  width: 600px;
  height: 245px;
  margin: 0 30px;
}
.addUserModalContainer > div {
  position: static;
  top: 0px !important;
  left: 0px !important;
}
