.container {
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
  height: Calc(100vh - 160px);
}
.container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(185, 181, 181);
  border-radius: 5px;
}
.container::-webkit-scrollbar-thumb {
  background: #04366e;
  border-radius: 5px;
}
.container::-webkit-scrollbar-thumb:hover {
  background: #04366e;
}
.container a {
  color: #656565;
}
.container th {
  font-size: 16px;
  padding: 15px 18px;
  white-space: pre;
  color: #000;
  cursor: pointer;
  transition: 0.6s;
}
.container th:active {
  background: #dde5e7;
}
.container tr {
  background: #fefefe;
  position: relative;
}
.black_listed::after,
.shortlisted::after {
  content: "";
  width: 10px;
  height: 40px;
  display: block;
  border-radius: 5px 0 0 5px;
  position: absolute;
  left: -10px;
}
.black_listed::after {
  background: rgb(197, 28, 28);
}
.shortlisted::after {
  background: rgb(19, 114, 75);
}
.container tr:hover {
  background: rgba(0, 0, 0, 0.11);
  cursor: pointer;
}
.smartTable {
  border-collapse: separate;
  border-spacing: 0px 0;
}
.container th:hover {
  color: rgba(0, 0, 0, 0.7);
}
.container table {
  min-width: 100%;
  position: relative;
}
.container td {
  font-size: 16px;
  padding: 10px;
}
/* td:first-child {
  padding-left: 40px;
} */
td.noItemsAlert {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: #575757;
  font-weight: bold;
}
.hoverUser {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  background: rgba(0, 0, 0, 0.3);
  height: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .container .black_listed {
  background: linear-gradient(
    0deg,
    hsl(0, 74%, 57%),
    rgb(207, 39, 39),
    rgb(207, 39, 39),
    hsl(0, 74%, 57%)
  );
}
.container .shortlisted {
  background: linear-gradient(
    0deg,
    rgb(32, 148, 94),
    rgb(22, 121, 75),
    rgb(22, 121, 75),
    rgb(32, 148, 94)
  );
}
.container .black_listed a,
.container .shortlisted a {
  color: #fefefe;
}
.container .black_listed:hover a,
.container .shortlisted:hover a {
  color: #656565;
} */
