/* .exportBtn,
.openBtn {
  padding: 5px 10px 5px 20px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-weight: 600;
  color: #575757;
  cursor: pointer;
  outline: none;
  line-height: 24px;
  min-height: 40px;
} */
.openBtn {
  background: #fefefe;
  border: 1px solid #ccc;
}
.exportBtn:hover {
  background: #fefefe;
}
.exportBtn:active {
  background: transparent;
}
/* .exportBtn span {
  display: block;
  float: right;
} */
.container {
  position: relative;
}
.absoluteBox {
  position: absolute;
  top: 42px;
  width: 100%;
  /* border: 1px solid #ccc;
  border-radius: 4px; */
}
.optionBtn {
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.767);
  border-radius: 4px;
  padding: 3px;
  background: #fefefe;
}
.optionBtn:hover {
  background: #14a9e7;
  color: #fff;
}
span.btnSpan {
  float: left;
}
.btnIcon {
  width: 20px;
  float: right;
  margin-left: 10px;
  fill: #5d5b5b;
}
.container:hover .btnIcon {
  fill: #fff;
  transform: 0.4s ease-in-out;
}
.container:hover .downloadArrow {
  animation: download 0.5s infinite alternate;
}

@keyframes download {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-55px);
  }
}
.btn {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;
  color: #5d5b5b;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 7px -2px #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn:hover {
  background: #14a9e7;
  color: #fff;
}
