.scrollContainer {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}
/* width */
.scrollContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(185, 181, 181);
  border-radius: 5px;
}

/* Handle */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #04366e;
  border-radius: 5px;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #04366e;
}
.flexContainer {
  width: 90%;
  margin: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tech {
  width: 15%;
  background: #fefefe;
  margin: 2.5%;
  height: 200px;
  border-radius: 70px;
  background-size: 115% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s ease;
  box-shadow: 0 10px 15px 0px rgb(107, 129, 158);
  filter: blur(0.007em);
  font-weight: 700;
  letter-spacing: 1.3px;
  text-shadow: 0 0 0.5em #faf7f7;
  text-align: center;
  position: relative;
}

.deleteTech {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  display: none;
}
.deleteTech button {
  cursor: pointer;
  font-size: 20px;
  filter: blur(0.007em);
  font-weight: 700;
  letter-spacing: 1.3px;
  text-shadow: 0 0 0.5em #faf7f7;
  color: #fff;
  display: block;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(46, 46, 46, 0.534);
  box-shadow: 0 0 0.8em #f8f7f7;
}
.tech:hover .deleteTech {
  display: block;
}
@media only screen and (max-width: 1500px) {
  .tech {
    width: 20%;
  }
}
.tech:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px 0px rgb(107, 129, 158);
  text-shadow: 0 0 0.6em #faf7f7;
}
.tech:nth-child(19n + 1) {
  background-image: url("../../images/9.png");
}
.tech:nth-child(19n + 2) {
  background-image: url("../../images/10.png");
}
.tech:nth-child(19n + 3) {
  background-image: url("../../images/11.png");
}
.tech:nth-child(19n + 4) {
  background-image: url("../../images/12.png");
}
.tech:nth-child(19n + 5) {
  background-image: url("../../images/13.png");
}
.tech:nth-child(19n + 6) {
  background-image: url("../../images/14.png");
}
.tech:nth-child(19n + 7) {
  background-image: url("../../images/15.png");
}
.tech:nth-child(19n + 8) {
  background-image: url("../../images/16.png");
}
.tech:nth-child(19n + 9) {
  background-image: url("../../images/17.png");
}
.tech:nth-child(19n + 10) {
  background-image: url("../../images/18.png");
}
.tech:nth-child(19n + 11) {
  background-image: url("../../images/19.png");
}
.tech:nth-child(19n + 12) {
  background-image: url("../../images/20.png");
}
.tech:nth-child(19n + 13) {
  background-image: url("../../images/21.png");
}
.tech:nth-child(19n + 14) {
  background-image: url("../../images/22.png");
}
.tech:nth-child(19n + 15) {
  background-image: url("../../images/23.png");
}
.tech:nth-child(19n + 16) {
  background-image: url("../../images/24.png");
}
.tech:nth-child(19n + 17) {
  background-image: url("../../images/25.png");
}
.tech:nth-child(19n + 18) {
  background-image: url("../../images/26.png");
}
.tech:nth-child(19n) {
  background-image: url("../../images/27.png");
}
.techInitial {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 150px;
  font-size: 60px;
  font-weight: bold;
  color: #fefefe;
  margin: 20px auto;
}
.techTitle {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 70px;
  background: rgba(4, 54, 110, 0.5);
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 35px;
  /* text-shadow: 0px 0px 100px 0px #ccc; */
}
.addTech {
  font-size: 80px;
  flex-wrap: wrap;
}

.addTech {
  font-size: 40px;
  flex-wrap: wrap;
}

.addTech div {
  justify-content: center;
  cursor: pointer;
}
.addTech form {
  width: 80%;
  margin: 20px auto 0;
  flex-wrap: wrap;
}
.addTech form input {
  border: none;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  background: rgba(39, 39, 39, 0.562);
  box-shadow: 0 0 0.8em #f8f7f78c;
  border-radius: 10px;
  color: white;
}
.addTech form button {
  background: rgba(255, 255, 255, 0.74);
  color: #04366e;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 0.5em #f8f7f78c;
}
.dNone {
  display: none;
}
.dFlex {
  display: flex;
}
.addTech .cancel {
  padding: 2px 6px;
  display: flex;
  font-size: 16px;
  position: absolute;
  right: 14px;
  top: 47px;
  border-radius: 50%;
  background: rgba(46, 46, 46, 0.534);
  box-shadow: 0 0 0.6em #f8f7f7;
}
.singleContainer {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}
.singleContent {
  box-shadow: 0px 0px 15px 5px #eceaea;
  border-radius: 5px;
  margin: 40px auto;
  width: Calc(100% - 80px);
}
