.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.65rem 0.75rem;
  min-width: 300px;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  outline: none;
  font-family: "Barlow Condensed", sans-serif;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

.buttonSubmit {
  composes: btn;
  color: #fff;
  background-color: #ff4343;
  border-color: #ff4343;
}

.buttonSubmit:hover {
  color: #fff;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 31, 92, 0.4);
  box-shadow: 0px 15px 20px rgba(0, 31, 92, 0.4);
}

.buttonChange {
  composes: btn;
  color: #000000;
  background-color: #fff;
  border: 1px solid #c0c0be;
  border-radius: 8px;
}
.buttonChange:hover {
  color: #fff;
  background: #14a9e7;
  -webkit-box-shadow: 0px 15px 20px rgba(155, 168, 188, 0.4);
  box-shadow: 0px 15px 20px rgba(155, 168, 188, 0.4);
}
.buttonDelete {
  composes: btn;
  color: #fff;
  background: #ff4343;
}
.buttonDelete:hover {
  -webkit-box-shadow: 0px 15px 20px rgba(155, 168, 188, 0.4);
  box-shadow: 0px 15px 20px rgba(155, 168, 188, 0.4);
}
