.container {
  width: 100%;
  position: relative;
}
.profilesTable {
  width: 100%;
  /* box-shadow: 0px 0px 15px 5px #eceaea; */
  border-radius: 5px;
}
.content {
  width: Calc(100vw - 250px);
  margin: 30px auto;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 50px;
}
.profilesListBtnRight {
  display: flex;
}
.profilesListBtn {
  margin-left: 10px;
}
.profilesListBtn:hover {
  background: #fefefe;
}
.profilesListBtn:active {
  background: transparent;
}
.profilesListBtn span {
  display: block;
  /* margin: 0px 10px; */
  padding: 0px 10px;
}
.btnIcon {
  width: 20px;
  /* margin: 0px 10px; */
  transition: 0.6s;
}
.profilesListBtn:hover .btnIcon {
  fill: #000;
}
.profilesListBtn:hover .animatedPart {
  animation: opacity 2.5s infinite;
}

@keyframes opacity {
  to {
    fill: #4fba6f;
  }
}
.search {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  border-radius: 20px;
  display: flex;
}
.search img {
  width: 20px;
  margin: 8px;
}
.searchInput {
  width: Calc(100% - 40px);
  height: 40px;
  border: none;
  background: none;
  padding: 0 10px;
  color: #575757;
  outline: none;
}
button {
  outline: none;
}
.container th {
  cursor: move;
}
.addcandidate:hover {
  background: #fefefe;
}
.filterIcon {
  transform: rotate(90deg);
}
.filterIconRount {
  fill: #5d5b5b;
}
.activeFilterIcon .filterIconRount {
  fill: #14a9e7;
}
.activeFilterIcon {
  transform: rotate(90deg);
}
.rotateIcon,
.rotateSvg,
.CreateIcon {
  fill: #5d5b5b;
  transition: 0.4s ease-in-out;
}
.profilesListBtn:active .rotateSvg {
  transform: rotate(360deg);
}
.btn:hover .rotateIcon,
.btn:hover .activeFilterIcon,
.btn:hover .filterIconRount,
.btn:hover .CreateIcon {
  fill: #fff;
}
.btn {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;
  color: #5d5b5b;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 7px -2px #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn:hover {
  background: #14a9e7;
  color: #fff;
}
