.modal {
  min-width: 300px;
  width: 600px;
  background: white;
  box-shadow: 0 2px 8px rgba (0, 0, 0, 0.26);
  top: 100px;
  position: absolute;
  border-radius: 10px;
  width: 600px;
  left: calc(50% - 410px);
}
.modal_header {
  border-radius: 10px 10px 0 0;
  padding: 2rem;
  background-color: #3694bfcc;
  color: white;
}
.modal_header h1 {
  margin: 0;
  font-size: 1.8rem;
}
.modal_content {
  padding: 1rem;
  /* display: flex; */
}
/* .modalForm {
  display: flex;
  justify-content: space-between;
} */
.modalForm input,
.modalForm select {
  display: inline-block;
  width: Calc(100% - 24px);
  margin: 0px 12px 3px 12px;
  border: none;
  background: rgba(230, 225, 225, 0.463);
  border-radius: 3px;
  padding: 5px 10px;
  color: #494949;
  outline: none;
}
.multiSelectBox,
.pairBox {
  box-sizing: border-box;
  width: Calc(50% - 18px);
  display: inline-block;
  margin-right: 12px;
}
.selectBox {
  display: inline-block;
  width: Calc(33% - 18px);
  margin-right: 18px;
  box-sizing: border-box;
}

.selectBox:last-child,
.selectBoxFour:last-child() {
  margin-right: 0;
}

.selectBox select {
  width: 100%;
}
.pairBox input {
  width: 100%;
}
.modalForm label {
  line-height: 24px;
  font-size: 16px;
  color: #494949d7;
  margin: 0 12px;
}
.modal_actions {
  display: flex;
  justify-content: flex-end;
}
.modal_btn {
  background-color: #3694bfcc;
  padding: 1rem 3rem;
  margin: 10px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
}
.modal_btn:nth-child(2) {
  margin: 10px 20px 10px 0;
}

.error {
  border: 1px solid red !important;
  color: red !important;
}
.error::placeholder {
  color: red;
}
