.totalContainer {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.totalContainer select {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;
  color: #5d5b5b;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 10px 2px #cccccc;
  align-items: center;
  justify-content: space-around;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px auto 50px auto;
}
.totalContainer select:hover {
  background: #14a9e7;
  color: #fff;
}
.analytics_option {
  background: white;
  color: #5d5b5b;
}

.flexContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}
