.sidebar {
  width: 64px;
  height: 100vh;
  padding: 20px 0;
  transition: 0.6s ease-in-out;
  position: relative;
}
.sidebarComponent li {
  height: 60px;
}
.menuBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  overflow: hidden;
  outline: none;
}
.sidebarOpen {
  width: 220px;
  height: 100vh;
  padding: 20px 0;
  transition: 0.6s ease-in-out;
  overflow: hidden;
  position: relative;
}
.sidebarComponent span {
  color: white;
  font-weight: bold;
  line-height: 60px;
  font-size: 1.1em;
  transition: 0.2s ease-in-out;
}
.sidebarOpen li a {
  width: 220px;
  list-style: none;
  display: flex;
  transition: 0.6s ease-in-out;
}
.sidebarIcon {
  width: 24px;
  margin: 3px auto;
}
span.versionText {
  color: white;
  padding: 0 10px;
  line-height: 40px;
  font-weight: 100;
  width: 100%;
}
.sidebarFooter {
  position: absolute;
  bottom: 0px;
  border-top: 1px dashed #fff;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  left: 5%;
  justify-content: space-between;
}
.sidebarUpFooter {
  position: absolute;
  bottom: 60px;
  padding: 10px;
  width: 90%;
  left: 0%;
}
.visible {
  opacity: 1;
}
.invisible {
  opacity: 0;
}

.footerBtn {
  margin-right: 30px;
  margin-left: 10px;
}
.icon {
  width: 20px;
}
.itemClass {
  text-decoration: none;
  position: relative;
}
.itemClass:hover {
  cursor: pointer;
}
.itemClass .tooltip {
  display: none;
}
.chosen {
  position: relative;
  background: #3697c4 !important;
}
.itemClass:hover .tooltip {
  line-height: 10px;
  background: #3697c4;
  padding: 5px;
  display: flex;
  width: auto;
  text-align: center;
  word-wrap: normal;
  z-index: 100;
  left: 5px;
  color: #fff;
  position: absolute;
  border-radius: 5px;
  top: 40px;
  text-decoration: none;
  transform: rotate(180deg);
  animation: tooltipmove 0.3s forwards;
}
@keyframes tooltipmove {
  to {
    top: -10px;
    transform: rotate(0deg);
  }
}
.changeStyle {
  width: 90%;
  margin: 20px auto;
}
.nightdiv {
  background: #04366e;
  color: #fff;
}
.daydiv {
  background: #fff;
  color: #04366e;
}
.nighttext {
  color: #fff;
}
.daytext {
  color: #04366e !important;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
