* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  background: #f5f9fa;
  /* overflow: hidden; */
}
.mainContent {
  width: 100%;
  display: flex;
}
