.container {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btnContainer {
  display: flex;
}
.title {
  text-align: center;
  margin: 20px 0;
  font-size: 3.6rem;
}
.userInfoTitle {
  display: inline-block;
  width: 120px;
}

.userInfoContainer {
  margin: 30px;
}
.userInfoItem {
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.listItem {
  /* background: rgb(0, 195, 255); */
  color: white;
  padding: 3px 4px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5px;
}
.listContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.listContainer2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.listContainer span:nth-child(5n),
.listContainer2 span:nth-child(5n + 4) {
  background: rgba(104, 48, 145, 0.7);
}
.listContainer span:nth-child(5n + 1),
.listContainer2 span:nth-child(5n + 3) {
  background: rgba(12, 77, 159, 0.7);
}
.listContainer span:nth-child(5n + 2),
.listContainer2 span:nth-child(5n + 3) {
  background: rgba(0, 166, 82, 0.7);
}
.listContainer span:nth-child(5n + 3),
.listContainer2 span:nth-child(5n + 2) {
  background: rgba(239, 76, 45, 0.7);
}
.listContainer span:nth-child(5n + 4),
.listContainer2 span:nth-child(5n + 1) {
  background: rgba(255, 102, 0, 0.7);
}
.btnContainer {
  margin-top: 30px;
}

.edit,
.delete {
  display: inline-block;
  margin-right: 10px;
}

.row {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 20px auto;
}
.col4 {
  width: 39%;
  box-shadow: 0px 0px 6px 0px rgba(104, 48, 145, 0.2);
}
.col6 {
  width: 59%;
  box-shadow: 0px 0px 6px 0px rgba(104, 48, 145, 0.2);
}
.wrap {
  width: 90%;
  margin: auto;
}
.box {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 15px 0;
  font-size: 22px;
}
.box h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
